<div id="navRoot"><link rel="stylesheet" href="styles/navbar.css">
    
<nav id="navbar">
    <a href = '/about'> <div id="about" class="navItem activeNavItem">ABOUT ME</div> </a>
    <a href = '/blog'> <div id="blog" class="navItem">BLOG</div></a>
    <a href = '/resume'> <div id="resume" class="navItem">RESUME</div> </a>
    <a href = '/experience'> <div id="experienceList" class="navItem">WORK EXPERIENCE</div> </a>
    <a href = '/projects'> <div id="projectList" class="navItem">PROJECTS</div> </a>
</nav>
    